body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.main_content {
  background-color: #343a40;
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  background-color: #212529;
  background-position: center;
  height: 100vh;
  min-height: 500px;
}

.less-margin{
	margin-bottom: -300px;
}

.transparent_div{
	background-color: #33403373;
    padding: 2em;
    border-radius: 20px;
}

.shadow_text{
	text-shadow: 3px 2px #0000008c;
}